

            <div id="contact" class="section">

                <a href="#" class="button large">info@frisseplannen.nl</a>
                <a href="#" class="button large">Bel: 06 47 218 000</a>
                <div style="text-align: center;">
                    <img src="/img/logo.svg" class="rotating" style="width: 80px; margin: 20px 15px 15px; cursor: pointer;" onclick="window.location.href='/';" />
                    <p class="smaller"><strong>Heldere communicatiemiddelen die jouw groene ambities waarmaken</strong><br />
                    <br />
                    <span style="color: gray;">Onderdeel van Carli-d. Doctor Jan van Breemenstraat 1, Amsterdam</span></p>
                </div>
                
            </div>
        
        
        </div>

        <script type="text/javascript" src="/js/custom.js"></script>
    </body>
</html>
