            <div class="section gray">
                <p><strong>CARLI VAN ‘T SCHIP.</strong><br />
                Jouw frisse plannenverbeelder.</p>

                <div class="imagesleft">
                    <div class="img">
                        <img src="/img/carly.png" />
                    </div>
                    <p>Wat mij aantrekt aan frisse/innovatieve plannen, 
                        is dat er een oplossing wordt bedacht voor iets 
                        dat niet goed (meer) werkt. Zo sta ik zelf ook in het leven.<br /> 
                        De vaak complexe en technische materie vertalen naar 
                        een helder en overtuigend verhaal, maakt dat ik mijn werk erg uitdagend vind.<br />
                        Dit doe ik graag samen met jou en met andere professionelen 
                        uit mijn netwerk (mocht dat nodig zijn). </p>
                </div>
            </div>

            <div id="contact" class="section">

                <a href="#" class="button large">info@frisseplannen.nl</a>
                <a href="#" class="button large">Bel: 06 47 218 000</a>
                <div style="text-align: center;">
                    <img src="/img/logo.svg" class="rotating" style="width: 80px; margin: 20px 15px 15px; cursor: pointer;" onclick="window.location.href='/';" />
                    <p class="smaller"><strong>Heldere communicatiemiddelen die jouw groene ambities waarmaken</strong><br />
                    <br />
                    <span style="color: gray;">Onderdeel van Carli-d. Doctor Jan van Breemenstraat 1, Amsterdam</span></p>
                </div>
                
            </div>
        
        
        </div>

        <script type="text/javascript" src="/js/custom.js"></script>
    </body>
</html>
