{% include header.html %}

<div class="section" style="padding-top: 120px;">
            <a href="/#blogs" class="button"><< Terug</a><br /><br />
    <strong>ARTIKEL.</strong><br />
    <a href="{{ page.url }}" class="bloglink"><span style="background: white url({{ page.image }}) center center / contain no-repeat;"></span>{{ page.description | markdownify }}</a>
    <div class="small blogcontent">
        {{ page.content }}
    

        {% if page.has_request %}
        {% include toffe-inzichten.html %}
        {% endif %}

    </div>

</div>

<div class="section">
    <strong>ANDERE ARTIKELEN.</strong><br />
    {% assign siteposts = site.articles | where: 'public','true' | where_exp: "item","item.url != page.url" | sort:'order' %}
    {% for item in siteposts limit:3 %}<a href="{{ item.url }}" class="bloglink"><span style="background: white url({{ item.image }}) center center / contain no-repeat;"></span>{{ item.description | markdownify }}</a>{% endfor %}
    <br />
    <a href="/blogs" class="button">Naar alle artikelen >></a><br /><br />
</div>

{% include footer.html %}
