{% include header.html %}

<div class="section" style="padding-top: 120px;">
    <strong>BLOG.</strong><br />
    <a href="{{ page.url }}" class="bloglink"><span style="background: white url({{ page.image }}) center center / contain no-repeat;"></span>{{ page.description | markdownify }}</a>
    <div class="small lightgray blogcontent">
        {{ page.content }}
    </div>
</div>

<div class="section">
    <strong>RECENTE BLOGS.</strong><br />
    {% for item in site.posts limit:3 %}<a href="{{ item.url }}" class="bloglink"><span style="background: white url({{ item.image }}) center center / contain no-repeat;"></span>{{ item.description | markdownify }}</a>{% endfor %}
    <br />
    <a href="/blogs/" class="button"><< Terug naar alle blogs</a>
</div>

{% include footer.html %}