{% include header.html %}

<div class="section" style="padding-top: 120px;">
    <strong>Duurzaam plan?</strong><br />
    Heldere communicatie-<br />
    middelen helpen om het<br />
    realiteit te laten worden.
    <div class="img" style="right: 30px; width: 150px; bottom: 50px;"><img src="/img/world.jpg" /></div>
    <div class="img smaller" style="text-align: center; color: #E94927; right: 30px; width: 50px; bottom: 10px; cursor: pointer;" onclick="window.open('tel:0031618518928');"><img src="/img/phone.svg" />Bel direct</div>
</div>

{% include footer.html %}