{% include header.html %}

<div class="section" style="padding-top: 120px;">
    <p><strong>COMMUNICATIEMIDDELEN.
    </strong><br />
    Afhankelijk van doel en doelgroep kiezen we voor de juiste communicatiemiddelen.</p>

    <div class="imagesleft">

   

 

        <div class="img"><img src="/img/middelen_logo.svg" /></div>
        <p>
        <strong>Identiteit.</strong><br />
        Een consistente stijl maakt
        projecten extra herkenbaar.</p>

        <div class="img"><img src="/img/middelen_brochure.svg" /></div>
        <p>
        <strong>Brochure.</strong><br />
        Je doelgroep krijgt iets tastbaars.<a href="/portfolio/brochure-charettes/" class="downloadlink">VOORBEELD -
        Charettes Ameland</a>
        </p>    

             <div class="img"><img src="/img/middelen_praatplaat.svg" /></div>
        <p>
        <strong>Praatplaat.</strong><br />
        Dé basis voor constructieve discussies. Modulair en circulair product. <a href="http://bit.ly/frissepraatplaat" class="downloadlink">Download productsheet</a><a href="/portfolio/praatplaat-nofriesland/" class="downloadlink">VOORBEELD -
          Praatplaat Noardeast-Fryslân</a>
</p>
        
          <div class="img"><img src="/img/middelen_website.svg" /></div>
        <p>
        <strong>Website of webshop.</strong><br />
        Dé plek om (actuele) informatie te delen.</p>
        
          <div class="img"><img src="/img/middelen_animatie.svg" /></div>
        <p>
        <strong>Verhelderende animaties.</strong><br />
        Ideaal om complexe zaken bondig uit te leggen.</p>
        
        <div class="img"><img src="/img/middelen_presentatie.svg" /></div>
        <p>
        <strong>Presentatie.</strong><br />
        Het verhaal wordt extra helder en
        overtuigend.</p>

        <div class="img"><img src="/img/middelen_poster.svg" /></div>
        <p>
        <strong>Poster.</strong><br />
        Dagelijkse aandacht en
        makkelijk verspreidbaar.</p>

    </div><br>
    <p>Iets anders nodig? Er is natuurlijk nog veel meer mogelijk.</p>
   
    <a href="/portfolio" class="button">Zie voorbeelden ontwerpen >></a><br /> <br />
    <a href="/" class="button"><< Terug naar home</a>
</div>

{% include footer.html %}
