{% include header.html %}

<div class="section" style="padding-top: 120px;">
    <p><strong>COMMUNICATIEMIDDELEN.
    </strong><br />
    Afhankelijk van doel en doelgroep.</p></p></p>

    <div class="imagesleft">


        <div class="img"><img src="/img/middelen_brochure.svg" /></div>
        <p>
        <strong>Beknopte brochure.</strong><br />
        Je doelgroep krijgt iets tastbaars. En het kan ook nog bewaard worden.<a href="/portfolio/praktische-gids-over-isoleren/" class="downloadlink">VOORBEELD -
        De Slimme Isolatiegids</a>
        </p>    
        
          <div class="img"><img src="/img/middelen_animatie.svg" /></div>
        <p>
        <strong>Verhelderende animatie.</strong><br />
        Ideaal om complexe (technische) zaken bondig uit te leggen.</p>
        
        <div class="img"><img src="/img/middelen_presentatie.svg" /></div>
        <p>
        <strong>Lekkere presentatie.</strong><br />
        Het verhaal wordt extra helder en
        overtuigend.</p>

        <div class="img"><img src="/img/middelen_poster.svg" /></div>
        <p>
        <strong>Frisse flyer of poster.</strong><br />
        Dagelijkse aandacht en
        makkelijk verspreidbaar.</p>

          <div class="img"><img src="/img/middelen_praatplaat.svg" /></div>
        <p>
        <strong>Overtuigende praatplaat.</strong><br />
        Dé basis voor constructieve discussies.<a href="http://bit.ly/frissepraatplaat" class="downloadlink">Download productsheet</a><a href="/portfolio/praatplaat-nofriesland/" class="downloadlink">VOORBEELD -
          Noardeast-Fryslân</a>
</p>
        
          <div class="img"><img src="/img/middelen_website.svg" /></div>
        <p>
        <strong>Laagdrempelige website.</strong><br />
        Dé plek om (actuele) informatie te delen.</p>
        
    <div class="img"><img src="/img/middelen_logo.svg" /></div>
        <p>
        <strong>Heldere identiteit.</strong><br />
        Een consistente stijl maakt
        projecten extra herkenbaar.</p>
        
    </div><br>
    <p>Iets anders nodig? Er is natuurlijk nog veel meer mogelijk.</p>
   
    <a href="/portfolio" class="button">Zie voorbeelden ontwerpen >></a><br /> <br />
    <a href="/" class="button"><< Terug naar home</a>
</div>

{% include footer.html %}
