{% include header.html %}

<div class="section" style="padding-top: 150px;">
    <div style="position: relative; z-index: 2;">
        <strong>Grafisch ontwerp <br />
            voor groene initiatieven</strong><br /><br />
    </div>
    
  

        
    <div class="img" style="right: 10px; width: 130px; bottom: 80px; z-index: 1;"><img src="/img/world.jpg" /></div>
</div>

<div class="section green">
    <p>
        <em class="highlight">Helder vormgegeven </br> èn groen geproduceerde </br> communicatiemiddelen voor jouw </br> plan, product of organisatie.</em>
<br />
    </p>
    <p class="small"><a onclick="document.getElementById('expander1').classList.toggle('invisible'); this.classList.toggle('active')" 
                        style="cursor: pointer; color: white;">Lees <span id="moreorless"></span> over groene productie >></a></p>
</div>



<div class="section lightgray invisible" id="expander1">
    
    <p class="small">GROENE PRODUCTIE. </br>
<div class="itemholder twoup">
        <div class="item">
            <div class="imagesleft">
                <div class="img">
                    <img src="/img/Boom.png" />
                </div>
                <p class="small">
                    Hoe mooi zou het zijn als niet alleen jouw
project verantwoord is, maar het drukwerk om
hierover te communiceren ook? Ècht verantwoorde keuzes maken is
vaak zo complex dat je al snel door de bomen het
(duurzaam beheerde) bos niet meer ziet.
                    <br />&nbsp;
                </p>
            </div>        
        </div>
        <div class="item">
            <div class="imagesleft" style="min-height: 183px;">
                <div class="img">
                    <img src="/img/Folder.jpg" />
                </div>
                <p class="small">
                    Frisse Plannen neemt dit graag uit handen en houdt rekening met 
de grondstoffen en de productie van het papier,
het drukproces en de verspreiding.
                </p>
                <a href="blogs/deze-folder-is-fris-niet-fris/" class="button">Lees uitgebreid artikel >></a>
                   
            </div>
</div>
</div>
</div>




<div id="portfolio" class="section lightgreen">
    <strong>PORTFOLIO.</strong>
    <div class="itemholder twoup">
            {% assign siteprojects = site.projects | sort:'order' %}
            {% for item in siteprojects limit:6 %}
            <div class="item" style="position: relative;">
                <div style="position: absolute; margin-top: 10px; padding-right: 5px; cursor: pointer;" onclick="document.location.href='{{ item.url }}';" class="lightgreen">
                    <div class="subtitle">{{ item.subtitle }}</div>
                </div>
                <div style="margin: 40px 0 0; height: 295px; background: url('{{ item.image }}') center center / cover; cursor: pointer;" onclick="document.location.href='{{ item.url }}';"></div>
                <a class="hoekje" href="{{ item.url }}" alt="Lees meer over dit project">Meer >></a>
            </div>
            {% endfor %}
    </div>

    <br />
    <a href="/portfolio" class="button">Zie meer ontwerpen >></a>
    
</div>

<div class="section carousel">
    <div class="navigation">
        <div>
            <strong>COMMUNICATIEMIDDELEN.</strong><br />
            <p class="small">Afhankelijk van het doel en de doelgroep kiezen we voor de juiste middelen.</p>
        </div>
        <div>{% for item in site.solutions %}<div class="dot {% if forloop.first %}active{% endif %}" 
                                                  onclick="setCarousel(this, {{ forloop.index0 }})"></div>{% endfor %}</div>
    </div>
    <div class="slides_container" style="width: {{ site.solutions | size | times: 400 }}px">
        {% for item in site.solutions %}
            <div class="slide {{ item.bgcolor }}" style="background: white url({{ item.image }}) {{ item.image_position }} no-repeat; padding-top: 200px; height: 160px;">
                <div style="padding-left: {{ item.text_left }}px; padding-right: {{ item.text_right }}px;">
                    <strong>{{ item.title }}</strong><br />
                    {{ item.content }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div id="communicatiemiddelen" class="section">
 <a href="communicatiemiddelen" class="button">Lees meer over communicatiemiddelen >></a><br />
</div>

<div id="reviews" class="section lightgray">
    <p><strong>REVIEWS.</strong></p>

    <div class="itemholder twoup">
        <div class="item">
            <div class="imagesleft">
                <div class="img">
                    <img src="/img/headshot1.jpg" />
                    J. van Druten<br />
                    Communicatieadviseur Duurzaamheid
                </div>
                <p class="small">
                    ‘In vervolg op eerdere positieve ervaringen, 
                    heeft Frisse Plannen een enorme bijdrage geleverd 
                    aan de lancering van Energienet Ameland. 
                    Carli is super creatief en weet daar als 
                    geen ander de juiste inhoud aan te verbinden.’
                    <br />&nbsp;
                </p>
            </div>        
        </div>
        <div class="item">
            <div class="imagesleft" style="min-height: 183px;">
                <div class="img">
                    <img src="/img/headshot3.jpg" />
                    Bastiaan Meijer<br />
                    Duurzame (energie) gebiedsontwikkelaar at N-TRA
                </div>
                <p class="small">
                    ‘Een uniek en toch ook complex project waar jezelf 
                    razend enthousiast over bent is nog niet zo makkelijk 
                    uit te leggen aan alle verschillende stakeholders, 
                    laat staan ook hun inbreng erin mee te nemen. 
                    Met de ervaring en kunde van Carli hebben we  
                    in een aantal weken een prachtige praatplaat weten 
                    te creëren. Het werkt laagdrempelig, doeltreffend en ziet er 
                    gewoon ontzettend gaaf uit! Ons bord werkt letterlijk 
                    als een magneet voor omstanders.’
                </p>
            </div>        
        </div>
    </div>
</div>

<div id="blogs" class="section">
        <strong>ARTIKELEN.</strong>
        {% assign sitearticles = site.articles | where: 'public','true' | sort:'order' %}{% for item in sitearticles limit:4 %}<a href="{{ item.url }}" class="bloglink"><span style="background: white url({{ item.image }}) center center / contain no-repeat;"></span>{{ item.description | markdownify }}</a>{% endfor %}
        <br />
        <a href="blogs" class="button">Zie alle artikelen >></a>
</div>


<div id="contact" class="section lightgray">
    <p><strong>CARLI VAN ‘T SCHIP.</strong><br />
    Jouw frisse plannenverbeelder.</p>

    <div class="imagesleft" style="max-width: 350px;">
        <div class="img">
            <img src="/img/carly.png" />
        </div>
        <p class="small">Wat mij aantrekt aan frisse/innovatieve plannen, 
            is dat er een oplossing wordt bedacht voor iets 
            dat niet goed (meer) werkt. Zo sta ik zelf ook in het leven.</p>

        <p class="small">De vaak complexe en technische materie vertalen naar 
        een helder en overtuigend grafisch ontwerp, maakt dat ik mijn werk erg uitdagend vind.</p>
    
    </div>
</div>

{% include footer.html %}
