{% include header.html %}

<div class="section" style="padding-top: 150px;">
    <div style="position: relative; z-index: 2;">
        <strong>Jij creëert groene<br /> communicatie.<br /><br />
    </div>
        
    <div class="img" style="right: 10px; width: 150px; bottom: 40px; z-index: 1;"><img src="/img/world.jpg" /></div>
    <div class="img smaller" style="text-align: center; color: #E94927; right: 20px; width: 50px; bottom: 90px; cursor: pointer; z-index: 2;" onclick="window.open('tel:0031647218000');"><img src="/img/phone.svg" /></div>
</div>

<div class="section green">
    <p><em class="highlight"> Communicatie die verheldert<br /> 
     en aanzet tot beweging.<br /></em></p>
</div>

<div class="section yellow">
    <a href="/portfolio" class="button">Ga direct naar PORTFOLIO >></a>
</div>

<div class="section carousel">
    <div class="navigation">
        <div>
            <strong>VALKUILEN.</strong>
        </div>
        <div>{% for item in site.traps %}<div class="dot {% if forloop.first %}active{% endif %}" onclick="setCarousel(this, {{ forloop.index0 }})"></div>{% endfor %}</div>
    </div>
    <div class="slides_container" style="width: {{ site.traps | size | times: 400 }}px">
        {% assign sitetraps = site.traps | sort: 'order' %}{% for item in sitetraps %}
            <div class="slide {{ item.bgcolor }}" style="background: url({{ item.image }}) {{ item.image_position }} no-repeat; padding-top: 125px; height: 300px;">
                <div style="padding-left: {{ item.text_left }}px; padding-right: {{ item.text_right }}px;">
                    <strong>{{ item.title }}</strong><br />
                    {{ item.content }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
    
<div class="section darkred">
    CONSEQUENTIE.<br />
    Het frisse plan behaalt niet zijn potentiële
    resultaat. Dit kost veel tijd, frustratie en geld.
</div>

<div class="section carousel">
    <div class="navigation">
        <div>
            <strong>AANPAK.</strong><br />
            Naast een frisse blik op de content zetten we de kracht van verbeelding in, want...<br />
        </div>
        <div>{% for item in site.solutions %}<div class="dot {% if forloop.first %}active{% endif %}" onclick="setCarousel(this, {{ forloop.index0 }})"></div>{% endfor %}</div>
    </div>
    <div class="slides_container" style="width: {{ site.solutions | size | times: 400 }}px">
        {% for item in site.solutions %}
            <div class="slide {{ item.bgcolor }}" style="background: white url({{ item.image }}) {{ item.image_position }} no-repeat; padding-top: 235px; height: 280px;">
                <div style="padding-left: {{ item.text_left }}px; padding-right: {{ item.text_right }}px;">
                    <strong>{{ item.title }}</strong><br />
                    {{ item.content }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<div class="section green">
    RESULTAAT.<br />
    De middelen zijn helder
    en overtuigend, en sluiten aan op de
    beperkte tijd die de doelgroep heeft/neemt. 
</div>

<div class="section yellow">
    <p><em class="highlight"> Tijd voor een frisse blik en de<br /> 
     vertaling naar een overtuigend <br /> communicatiemiddel! </em></p>
</div>

<div id="communicatiemiddelen" class="section">
    <p><strong>COMMUNICATIEMIDDELEN.<br />
    </strong></p>

    <div class="imagesleft">

        <div class="img"><img src="/img/middelen_praatplaat.svg" /></div>
        <p>
            <br><strong>Praatplaat.</strong></p><br>
       

        <div class="img"><img src="/img/middelen_logo.svg" /></div>
        <p>
            <br><strong>Identiteit.</strong></p><br>
     

        <div class="img"><img src="/img/middelen_brochure.svg" /></div>
        <p>
            <br><strong>Brochure.</strong></p><br>
        
    </div>
    <a href="communicatiemiddelen" class="button">Zie meer middelen >></a>
</div>


<div id="portfolio" class="section lightgreen">
    <strong>PORTFOLIO.</strong><br />
    Selectie groene communicatiemiddelen.<br />
    
    {% assign siteprojects = site.projects | sort:'order' %}
    {% for item in siteprojects limit:4 %}
        <div style="position: absolute; margin-top: 50px; padding-right: 5px; cursor: pointer;" onclick="document.location.href='{{ item.url }}';" class="lightgreen">
            <div class="subtitle">{{ item.subtitle }}</div>
        </div>
        
        <div style="margin: 40px 0 0; height: 295px; background: url('{{ item.image }}') center center / cover; cursor: pointer;" onclick="document.location.href='{{ item.url }}';"></div>
        <a class="hoekje" href="{{ item.url }}" alt="Lees meer over dit project">Meer >></a>
        
    {% endfor %}

    <br />
    <a href="/portfolio" class="button">Bekijk meer communicatiemiddelen >></a>
    
</div>



<div class="section">
    <p><strong>REVIEWS.</strong></p>

    <div class="imagesleft">

       
        
        <div class="img">
            <img src="/img/headshot1.jpg" />
            J. van Druten<br />
            Communicatieadviseur Duurzaamheid
        </div>
        <p class="small">
        ‘In vervolg op eerdere positieve ervaringen, 
heeft Frisse Plannen een enorme bijdrage geleverd 
aan de lancering van Energienet Ameland. 
Carli is super creatief en weet daar als 
geen ander de juiste inhoud aan te verbinden.’</p>
        
        <div class="img">
            <img src="/img/headshot3.jpg" />
            Bastiaan Meijer<br />
            Duurzame (energie) gebiedsontwikkelaar at N-TRA
        </div>
        <p class="small">
        ‘Een uniek en toch ook complex project waar jezelf 
            razend enthousiast over bent is nog niet zo makkelijk 
            uit te leggen aan alle verschillende stakeholders, 
            laat staan ook hun inbreng erin mee te nemen. 
            Met de ervaring en kunde van Carli hebben we  
            in een aantal weken een prachtige praatplaat weten 
            te creëren. Het werkt laagdrempelig, doeltreffend en ziet er 
            gewoon ontzettend gaaf uit! Ons bord werkt letterlijk 
            als een magneet voor omstanders. ’</p>

</div>        
</div>

<div id="blogs" class="section">
        <strong>ARTIKELEN.</strong>
        {% assign sitearticles = site.articles | where: 'public','true' | sort:'order' %}{% for item in sitearticles limit:3 %}<a href="{{ item.url }}" class="bloglink"><span style="background: white url({{ item.image }}) center center / contain no-repeat;"></span>{{ item.description | markdownify }}</a>{% endfor %}
        <br />
        <a href="blogs" class="button">Zie meer artikelen >></a>

</div>
            <div id="contact" class="section lightgray">
                <p><strong>CARLI VAN ‘T SCHIP.</strong><br />
                Jouw frisse plannenverbeelder.</p>

                <div class="imagesleft">
                    <div class="img">
                        <img src="/img/carly.png" />
                    </div>
                    <p class="small">Wat mij aantrekt aan frisse/innovatieve plannen, 
                        is dat er een oplossing wordt bedacht voor iets 
                        dat niet goed (meer) werkt. Zo sta ik zelf ook in het leven.</p>

              
                <p class="small">De vaak complexe en technische materie vertalen naar 
                een helder en overtuigend verhaal, maakt dat ik mijn werk erg uitdagend vind.</p>
              

            </div>

{% include footer.html %}
