{% include header.html %}

<div class="section" style="padding-top: 120px;">
    <div class="subtitle">{{ page.subtitle }}</div>
    <strong>{{ page.title }}</strong>
    <div id="currentimage" style="margin: 10px 0 10px; height: 295px; background: url('{{ page.image }}') center center / cover;"></div>
    <div class="gallery"><div class="gallerythumbnail active" style="background-image: url('{{ page.image }}');" onclick="setGallery(this);"></div>{% for item in page.images %}<div class="gallerythumbnail" style="background-image: url('{{ item.image }}');" onclick="setGallery(this);"></div>{% endfor %}</div>

    <div class="small">
        <p><strong>{{ page.description }}</strong></p>

        {{ content }}

        <p><i>Opdrachtgever:</i><br />
        {{ page.client }}</p>

        <img src="{{ page.client_image }}" />
    </div>
</div>

<div class="section">
        <a href="/" class="button"><< Terug naar home</a>

    <strong>RECENTE BLOGS.</strong><br />
    {% for item in site.posts limit:3 %}<a href="{{ item.url }}" class="bloglink"><span style="background: white url({{ item.image }}) center center / contain no-repeat;"></span>{{ item.description | markdownify }}</a>{% endfor %}
    <br />
</div>

{% include footer.html %}
