{% include header.html %}

<div class="section" style="padding-top: 100px;">
    <a href="/#portfolio" class="button"><< Terug</a>
    <br />
    <br />
    <div class="subtitle">{{ page.subtitle }}</div>
    <strong>{{ page.title }}</strong>
    <div class="imageholder" style="margin: 10px 0 0; max-width: 430px;">{% if page.vimeo_id %}<a href="https://player.vimeo.com/video/{{ page.vimeo_id }}" id="currentimage" class="video" style="display: block; position: relative; margin-bottom: 10px; height: 295px; background: url('{{ page.image }}') center center / cover;"></a>{% else %}<div id="currentimage" style="display: block; position: relative; margin-bottom: 10px; height: 295px; background: url('{{ page.image }}') center center / cover;"></div>{% endif %}<div class="gallery"><div class="gallerythumbnail active" style="background-image: url('{{ page.image }}');" onclick="setGallery(this);"></div>{% for item in page.images %}<div class="gallerythumbnail" style="background-image: url('{{ item.image }}');" onclick="setGallery(this);"></div>{% endfor %}</div>
    </div>

    <div class="small">
        <p><strong>{{ page.description }}</strong></p>

        {{ content }}

        {% if page.client_title %}<p><i>{{ page.client_title }}:</i><br />
        {{ page.client }}</p>{% endif %}

        {% if page.client_image %}<img src="{{ page.client_image }}" />{% endif %}

        {% if page.has_request %}
        {% if page.client_image %}<br><br><br>{% endif %}
        <div class="blogrequest green">
            <div id="toggleformdiv">
                {% if page.request_image %}<img src="{{ page.request_image }}" />{% endif %}
                <p style="font-size: 20px;">{{ page.request_title }}</p>
                <a class="button large" onclick="formToggle();" >{{ page.request_cta }}</a>
            </div>
            <form method="post" action="https://formbucket.com/f/buk_pO7R8FbRJeG9Lmlc8LNsu2ED" id="toggleform" target="_top">
                <div style="font-size: 20px;">Aanvragen sample gids.</div>
                <input type="hidden" name="_next" value="{{ site.url }}/bedankt/"/>
                <input type="text" name="name" placeholder="Naam" required>
                <input type="text" name="email" placeholder="E-mailadres" required>
                <input type="text" name="phone" placeholder="Telefoonnummer (optioneel)">
                <input type="text" name="company" placeholder="Bedrijfsnaam/gemeente" required>
                <input type="text" name="address" placeholder="Straatnaam + huisnummer" required>
                <input type="text" name="postalcode" placeholder="Postcode + plaatsnaam" required>
                <input type="hidden" name="_subject" value="{{ page.title }}">
                <input type="text" name="_gotcha" style="display: none;">
                <input type="submit" value="Aanvragen" class="button large">
            </form>
        </div>
        {% endif %}
    </div>
</div>

<div class="section">
        <a href="/portfolio" class="button">Zie meer ontwerpen >></a><br /><br />

    <strong>GERELATEERDE ARTIKELEN.</strong><br />
    {% assign sitearticles = site.articles | where_exp: "item", "page.tags contains item.tag" %}
    {% for item in sitearticles limit:3 %}<a href="{{ item.url }}" class="bloglink"><span style="background: white url({{ item.image }}) center center / contain no-repeat;"></span>{{ item.description | markdownify }}</a>{% endfor %}
    <br />
</div>

{% include footer.html %}
